<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  <!--<link rel='stylesheet' href='/stylesheets/menu.css'>-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script src="/js/validator.js"></script>
</head>
<body>

  <div class="container-fluid mainheader">
  <div class="jumbotron">
<div align="center"></div>
    <div class="container text-center">      
	  <a href="http://localhost:3000/"><img src="images/balestiar_image.png" alt="Balestiar Financial Services" height="239.4" width="400"></a><br>
	  <h1>Balestier Financial Services</h1>
    </div>
  </div><!-- end jumbotron-->
{{{ body }}}
<footer class="container-fluid text-center">
  <div class="footer">
    <p>Copyright Nowall 2018</p>
  </div>
</footer>

</body>
</html>
