<div align="center">
<br><br>
<h1>CLARICUS DEMO</h1><br><br><br>
<br>
<div style="width:50%;text-align:center;border:1px solid red">
<p>Form successfully submitted</p><br>
</div>
</form>
</div>