<div align="center">
<br><br>
<h1>CLARICUS DEMO</h1><br><br><br>
<p>(Please fill up the form below and click Submit)</p><br>
<form action="demo_submit" method="post" enctype="multipart/form-data">
  First name:  <input type="text" name="first_name" id="first_name" value="" required><br><br>
  
  
  Front Photo:  <input type="file" name="id_photo_front_name" required>(only jpg or png files)<br><br>
  
  Selfie Photo:  <input type="file" name="id_photo_selfie_name" required>(only jpg or png files)<br><br>
  
  
  <input type="submit" value="Submit"><br><br><br><br><br><br><br><br>
</form>
</div>