<div align="center">
	<table border="1" name = "table1" id ="table1" > 
	<tr><td style="text-align:left;padding: 10px;width:40%">user id</td><td style="text-align:left;padding: 10px;">kyc status</td></tr>
	{{#each user_list}}
	<tr><td style="text-align:left;padding: 10px;width:40%">{{user_id}} </td><td style="text-align:left;padding: 10px;">{{kyc_flag}}</td></tr>
	{{/each}}
	</table>
  </div>
  
  <br><br><br>


 
